{% extends "base.html" %} {% load static %}   {% block content %}


  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-md-12 col-lg-9">
      <div class="container">
        <div class="row">
          <!-- post -->
          {% for post in queryset %}

          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <a href="{{ post.get_absolute_url }}"
                ><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"
              /></a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last"></div>
                <div class="category">
                  {% for cat in post.categories.all %}
                  <a href="{% url 'category_list' cat.title %}">{{ cat }}</a>
                  {% endfor %}
                </div>
              </div>
              <a href="{{ post.get_absolute_url }}"><h3 class="h4">{{ post.title }}</h3></a>
              <p class="text-muted">{{ post.overview }}</p>
              <footer class="post-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar">
                    <img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid" />
                  </div>
                  <div class="title"><span>{{ post.author.user.username }}</span></div>
                </a>
               
                <div class="date"><i class="icon-clock"></i>
               
                      
                 {% if  post.timestamp.date  < todays_date %}
                {{ post.timestamp.date | date:"d M Y" }} </div>
                {%else%}
                {{ post.timestamp|timesince }} ago</div>
                {% endif %} 
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments.count }}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        

        <!-- Pagination -->
        <h2>
        <nav aria-label="Page navigation example">
          {% comment %} {% if is_paginated %} {% endcomment %}
          <ul class="pagination pagination-lg justify-content-center">
            {% if queryset.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{queryset.previous_page_number}}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %} {% for i in queryset.paginator.page_range %} {% if queryset.number == i %}
            <li class="page-item"><a class="page-link active">{{ i }}</a></li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %} {% endfor %} {% if queryset.has_next %}
            <li class="page-item">
              <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <h2>

      </div>
    </main>

    {% include "sidebar.html" with latest=latest category_count=category_count %}
  </div>


{% endblock content %}
